
@import '../../variables.scss';

.logo{

    display: flex;
    align-items: center;
    justify-content: center;
  
}

.logoTitle{

    font-family: 'Inter';
    font-weight: 900;
    font-size: 40px;
    color: $base-purpleDark;

margin-left: 12px;

    span{
        color: $base-blue;
    }
}