
@import '../../variables.scss';

.header{
    height: 200px;
    background-color: $gray-700;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
   
    .exitImg{
        fill: white;
        position: absolute;
        right: 40px;
        top: 40px;
        cursor: pointer;
        z-index: 100;
    }
}