
@import '../../variables.scss';


.emptyBlockWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    padding-left: 20px;
    padding-right: 20px;
}

.content{
    text-align: center;
    font-family: 'Inter';
    font-size: 14px;
    width: 280px;
    line-height: 20px;
    span{
        font-weight: 700;
    }
    color: $gray-300;
    font-weight: 400;
}